<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>
  <h2>
    This is a home page for the rails 6 tutorial done by <a href="http://www.bydavid.me/">David Adeyemi</a>
  </h2>

  <%= link_to "Sign up now!", signup_path, class: 'btn btn-lg btn-primary' %>
</div>
<%= link_to image_tag("rails.svg", alt: "Rails logo"), 'https://rubyonrails.org' %>



