<% provide(:title, 'Forgot password') %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(url: password_resets_path, scope: :password_reset, local: true) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email , class: 'form-control'%>
      
      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>