<footer class="footer">
  <small>
    The <a href="https://www.bydavid.me/">Ruby on Rails Tutorial</a>
    by <a href="https://www.bydavid.me">David Adeyemi</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
    </ul>
  </nav>
</footer>